<%- include('partials/_header') %>
   <%- include('partials/_navigation') %>

   <section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ADD IMAGE</h2>
            
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" action="/images" method="POST" enctype="multipart/form-data">
            <div class="row align-items-stretch d-flex justify-content-center mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" name="title" id="name" type="text" placeholder="Image Title"/>
                       
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" name="description" id="name" type="text" placeholder="Image Description"  />
                        
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" name="image" type="file"/>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Submit</button></div>
        </form>
    </div>
</section>


















   <%- include('partials/_footer') %>